<template>
  <div class="container">
    <p></p>
    <b-form class="col-lg-6" inline>
      <b-input
          v-model="username"
          class="mb-2 mr-sm-2 mb-sm-0"
          placeholder="login"
      >

      </b-input>
      <b-input-group  class="mb-2 mr-sm-2 mb-sm-0">
        <b-input
            v-model="password"
            placeholder="password"
        >

        </b-input>
      </b-input-group>

      <b-button @click="login" variant="primary">Add</b-button>
      <p v-if="flag">
        Login process ...
      </p>
      <div v-if="needVerification">
        <p>
          Need verification
        </p>
        <!--<b-input-->
        <!--v-model="code"-->
        <!--id="inline-form-input-username"-->
        <!--placeholder="code"-->
        <!--&gt;-->

        <!--</b-input>-->
      </div>
      <div v-if="error !== null">
        <p></p>
        <p>
          Unauthorised. Reason: {{error}}
        </p>
        <!--<b-input-->
        <!--v-model="code"-->
        <!--id="inline-form-input-username"-->
        <!--placeholder="code"-->
        <!--&gt;-->

        <!--</b-input>-->
      </div>
    </b-form>
    <p></p>
    <div>
      <b-table head-variant="light" :items="items" :fields="fields"></b-table>
    </div>
    <p></p>



  </div>
</template>

<script>
import axios from 'axios';

export default {
  name: 'Accounts',

  data() {
    return {
      // Note `isActive` is left out and will not appear in the rendered table
      username: undefined,
      password: undefined,
      code: undefined,
      fields: ['username'],
      items: [],
      needVerification: false,
      flag: false,
      error: null
    }
  },

  methods: {
    login() {
      this.flag = true
      this.error = null
      axios.post('/login', {
        login: this.username,
        password: this.password,
      })
        .then(response => {
          this.flag = false
          this.username = undefined
          this.password = undefined

          let status = response.data.result

          if (status === 'verification')
          {
            this.needVerification = true
          }

          if (status === 'success')
          {
            this.items.push(response.data.account)
          }

          if (status === 'error')
          {
            this.error = response.data.error
          }
        });
    },

    getAccounts() {
      axios.get('/accounts', )
        .then(response => {
          this.items = response.data.accounts
        });
    }
  },

  mounted() {
    this.getAccounts()
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
