<template>
  <div class="hello">
    <loading :active.sync="isLoading"
             :can-cancel="false"
             :is-full-page="fullPage"></loading>
    <p>
    </p>
    <div class="text-center my-3">
      <b-button variant="success" @click="downloadWithAxios(false)" class="mr-2">Export profiles</b-button>
    </div>
    <p>
    </p>
    <div class="text-center my-3">
      <b-button variant="success" @click="downloadWithAxios(true)" class="mr-2">Export college profiles</b-button>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
import XLSX from 'xlsx';
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';

export default {
  name: 'Export',
  data() {
    return {
      isLoading: false,
      fullPage: true
    }
  },

  components: {
    Loading
  },

  methods: {

    forceFileDownload(response){
      const url = window.URL.createObjectURL(new Blob([response.data]))
      const link = document.createElement('a')
      link.href = url
      link.setAttribute('download', this.getCurrentDateTime() + '.xls') //or any other extension
      document.body.appendChild(link)
      link.click()
    },

    getCurrentDateTime() {
      let date = new Date();
      let aaaa = date.getFullYear();
      let gg = date.getDate();
      let mm = (date.getMonth() + 1);

      if (gg < 10)
        gg = "0" + gg;

      if (mm < 10)
        mm = "0" + mm;

      let cur_day = aaaa + "-" + mm + "-" + gg;

      let hours = date.getHours()
      let minutes = date.getMinutes()
      let seconds = date.getSeconds();

      if (hours < 10)
        hours = "0" + hours;

      if (minutes < 10)
        minutes = "0" + minutes;

      if (seconds < 10)
        seconds = "0" + seconds;

      return cur_day + " " + hours + "-" + minutes + "-" + seconds;
    },

    downloadWithAxios(isCollege){
      this.isLoading = true
      if (isCollege) {
        axios.get('/export?mode=college', {responseType:'blob'})
          .then(response => {
            this.forceFileDownload(response)
            this.isLoading = false
          })
          .catch((e) => console.log(e.message));
      } else {
        axios.get('/export', {responseType:'blob'})
          .then(response => {
            this.forceFileDownload(response)
            this.isLoading = false
          })
          .catch((e) => console.log(e.message));
      }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
