<template>
  <div>
    <div class="container">
      <div class="col-md-12">
        <p></p>
        <b-form-checkbox center v-model="collegeMode" name="check-button" switch>
          College mode <b></b>
        </b-form-checkbox>
        <p></p>

      </div>
      <div v-if="collegeMode" class="col-md-12" >
        <p></p>
        <b-form-file v-model="importFile" ref="file-input" class="mb-2"></b-form-file>
        <p></p>
        <b-button @click="saveImport()" variant="success">Import colleges</b-button>

        <p v-if="importFile" class="mt-2">Selected file: <b>{{ importFile ? importFile.name : '' }}</b></p>

        <p v-if="imported" class="mt-2">Colleges success imported <b></b></p>
      </div>
      <div v-else="" class="col-md-12" >
        <p></p>
        <b-form-file v-model="importFile" ref="file-input" class="mb-2"></b-form-file>
        <p></p>
        <b-button @click="saveImport()" variant="success">Import profiles</b-button>

        <p v-if="importFile" class="mt-2">Selected file: <b>{{ importFile ? importFile.name : '' }}</b></p>

        <p v-if="imported" class="mt-2">Profiles success imported <b></b></p>
      </div>
      <div v-if="collegeMode" class="col-md-12" >
        <p></p>
        <b-input
            v-model="college"
            class="mb-2 mr-sm-2 mb-sm-0"
            placeholder="college"
        >
        </b-input>
        <p></p>
        <b-button @click="saveCollege" variant="primary">Add College</b-button>

        <!--<b-button @click="save" class="primary">Add</b-button>-->

        <p v-if="addedCollege" class="mt-2">College success added <b></b></p>
      </div>
      <div v-else="" class="col-md-12" >
        <p></p>
        <b-input
            v-model="username"
            class="mb-2 mr-sm-2 mb-sm-0"
            placeholder="profile"
        >
        </b-input>
        <p></p>
        <b-button @click="saveProfile" variant="primary">Add Profile</b-button>

        <!--<b-button @click="save" class="primary">Add</b-button>-->

        <p v-if="addedProfile" class="mt-2">Profile success added <b></b></p>
      </div>
    </div>
  </div>
</template>

<script>
  import axios from 'axios';

  export default {
    name: 'Import',
    data() {
      return {
        username: undefined,
        collegeMode: false,
        college: undefined,
        importFile: null,
        imported: false,
        addedProfile: false,
        addedCollege: false,
        removedProfiles: false,
      }
    },
    methods: {
      saveImport() {
        let formData = new FormData();

        formData.append('file', this.importFile)

        if (this.collegeMode) {
          formData.append('mode', 'college')
        }

        axios.post('/import', formData)
          .then(response => {
            let status = response.data.status
            this.imported = true
            this.importFile = null
          });

      },
      saveProfile() {
        axios.post('/profile/add', { username: this.username })
          .then(response => {
            let status = response.data.status
            this.addedProfile = true
          });
      },
      saveCollege() {
        axios.post('/college/add', { college: this.college })
          .then(response => {
            let status = response.data.status
            this.addedCollege = true
          });
      },
    }
  }
</script>
