<template>
  <div class="container">
    <p></p>
    <p></p>
    <b-button @click="clear()" variant="success">Clear profiles table</b-button>
    <p></p>
    <p v-if="removedProfiles">Profiles was removed</p>
    <p></p>
    <p></p>
    <p></p>
    <h3>Workers</h3>
    <p></p>
    <div>
      <b-table head-variant="light" :items="workers" :fields="fieldsWorkers"></b-table>
    </div>
    <p></p>

    <p></p>
    <p></p>
    <h3>Profiles Statistic</h3>
    <p></p>
    <div>
      <b-table head-variant="light" :items="statistic" :fields="fieldsStat"></b-table>
    </div>
    <p></p>


  </div>
</template>

<script>
import axios from 'axios';

export default {
  name: 'Statistic',

  data() {
    return {
      // Note `isActive` is left out and will not appear in the rendered table
      fieldsWorkers: [ 'name', 'statename'],
      fieldsStat:
        ['checked', 'private', 'profiles not found',
      'received followers', 'profiles with likes',
      'haven\'t posts', 'total'],
      workers: [],
      statistic: [],
      removedProfiles: false
    }
  },

  methods: {
    clear() {
      axios.get('/reset/profiles', { username: this.username })
        .then(response => {
          let status = response.data.status
          this.removedProfiles = true
        });
    },
    getStatistic() {
      axios.get('/statistic', )
        .then(response => {
          this.workers = response.data.statistic.workers

          this.statistic.push(response.data.statistic.stat)
        });
    }
  },

  mounted() {
    this.getStatistic()
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
