<template>
  <div>
    <div class="container">
      <p>
      </p>
      <div class="col-md-12">
        <b-form-checkbox center v-model="college" name="check-button" switch>
          College mode <b></b>
        </b-form-checkbox>
      </div>

      <div class="text-center my-3">
        <b-button @click="start()" variant="success" title="Start all workers">Start workers</b-button>
      </div>
      <div v-if="started">
        <p>
          Workers was started
        </p>
      </div>
      <div class="text-center my-3">
        <b-button @click="stop()"  title="Stop all workers">Stop workers</b-button>
      </div>
      <div v-if="stopped">
        <p>
          Workers was stopped
        </p>
      </div>
    </div>
  </div>
</template>

<script>
  import axios from 'axios';

  export default {
  name: 'Worker',
  data() {
    return {
      started: false,
      stopped: false,
      college: false,
      main: true,
    }
  },
  methods: {
    start() {
      if (this.college) {
        axios.get('/start?mode=college').then(response => {});
      } else {
        axios.get('/start').then(response => {
          if (response.data.result === 'success') {
            this.stopped = false
            this.started = true
          }
        });
      }
    },

    stop() {
      axios.get('/stop')
        .then(response => {
          if (response.data.result === 'success') {
            this.started = false
            this.stopped = true
          }
        });
    },
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
