<template>
  <div id="app">
    <!--<img alt="Vue logo" src="./assets/logo.png">-->
    <div>
      <b-navbar type="dark" variant="dark">
        <b-navbar-nav>
          <ul class="nav md-tabs nav-justified purple lighten-2 mx-0 mb-0 mt-1">
            <li class="nav-item">
              <a v-if="this.$router.currentRoute.path === '/worker'" class="nav-link active" href="/worker">Worker</a>
              <a v-else class="nav-link" href="/worker">Worker</a>
            </li>
            <li class="nav-item">
              <a v-if="this.$router.currentRoute.path === '/statistic'" class="nav-link active" href="/statistic">Statistic</a>
              <a v-else class="nav-link" href="/statistic">Statistic</a>
            </li>
            <li class="nav-item">
              <a v-if="this.$router.currentRoute.path === '/import'" class="nav-link active" href="/import">Import</a>
              <a v-else class="nav-link" href="/import">Import</a>
            </li>
            <li class="nav-item">
              <a v-if="this.$router.currentRoute.path === '/export'" class="nav-link active" href="/export">Export</a>
              <a v-else class="nav-link" href="/export">Export</a>
            </li>
            <li class="nav-item">
              <a v-if="this.$router.currentRoute.path === '/accounts'" class="nav-link active" href="/accounts">Accounts</a>
              <a v-else class="nav-link" href="/accounts">Accounts</a>
            </li>
          </ul>
        </b-navbar-nav>
      </b-navbar>
      <router-view></router-view>
    </div>
    <!--<HelloWorld msg="Welcome to Your Vue.js App"/>-->
  </div>
</template>

<script>
//import HelloWorld from './components/HelloWorld.vue'

export default {
  name: 'app',
//  components: {
//    HelloWorld
//  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  /*margin-top: 60px;*/
}
</style>
